* {
margin: 0;
padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
  }

  .header {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 34px;
    
  }

  .header ul {
    list-style: none;
    display: flex;
  }

  .header ul li {
    margin-right: 24px;
  }

  .header ul li a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
  }

  .header ul li input {
    padding: 6px 6px;
  }

  .header ul li button {
    background-color: #000;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
  }



  .first-section {
    display: flex;
    justify-content: center;
  }

  .first-section .Sagar {
    width: 768px;
  }

  .first-section .img {
    width: 400px;
  } 

  .two-section .about {
    justify-content: center;
  }

  .two-section .about img {
    width: 400px 480px;
  }